@font-face {
    font-family: 'segoe';
    src: url(/fonts/SegoeUI-Italic.ttf);
}
@font-face {
    font-family: 'segoe';
    src: url(/fonts/SegoeUI-Light.ttf);
    font-weight: 300;
}
body { 
    box-sizing: border-box;
    margin: 0;
}
.main {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main__logo {
    margin-left: 162px;
    margin-top: 60px;
}
.main__title {
    font-size: 64px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;

    margin-left: 162px;
    margin-top: 326px;
}
.main__line-n-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 355px;
    margin-left: 291px;
    margin-top: 66px;

}
.main__line-n-btn hr {
    width: 130px;
    border: solid 1px #272727;
    margin: 0;
}
.main__line-n-btn a {
    text-decoration: none;
    font-family: segoe;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    color:#272727;
    margin-left: 38px;
}
.main__ring {
    position: relative;
    bottom: 170px;
    left: 731px;
}
.main__right-side {
    width: 562px;
    height: 100vh;
    margin-left: 241px;
    
    background-color: #272727;
}
.main__menu {
    max-height: 19px;
    display: flex;
    margin-left: 140px;
    margin-top: 77px;
    align-items: center;
}
.main__icon {
    height: 19px;
    margin-right: 40px;
}
.main__icon-last {
    margin-right: 0;
}
.main__icon-number {
    height: 12px;
    margin-left: 10px;
}
.main__burger {
    margin-top: 77px;
}
.main__icon-burger {
    height: 16px;
    margin-left: 80px;
}


